<div class="content">
    <div class="hole_content">
        <div class="content_title" style="background-color: #A2D19E">
            <span class="echart-font">销售订单管理</span>
        </div>
        <div class="content_table">
            <hr>
            <table class="table table-striped">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle pull-right" type="button" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-check"></span> &nbsp全选/全不选
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu dropdown-menu-right" style="margin-top: 17px">
                        <li><a href="#">Mark All</a></li>
                        <li><a href="#">Unmark All</a></li>
                    </ul>
                    <a class="btn-top" style="margin-right: 15px;" href=""
                       class="btn btn-primary btn-success pull-right"><i class="fa fa-search" aria-hidden="true"></i> 查找</a>
                    <a class="btn-top" style="margin-right: 15px;" href=""
                       class="btn btn-primary btn-success pull-right"> <span class="glyphicon glyphicon-plus"></span>
                        &nbsp 添加订单</a>
                </div>
                <thead>
                <tr class="row-name">
                    <th style="width:12%">选/不选</th>
                    <th style="width:10%">新/旧</th>
                    <th>订单号</th>
                    <th>销售日期</th>
                    <th>订单状态</th>
                    <th>客户名称</th>
                    <th>发货地址</th>
                    <th>总金额</th>
                    <th>备注</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr class="row-content">
                    <td class="check"><label><input type="checkbox" value=""></label></td>
                    <td><span class="label label-default"> New </span></td>
                    <td>FS012</td>
                    <td>2017-3-21 12:23:34</td>
                    <td>开立</td>
                    <td>张三</td>
                    <td>北京市</td>
                    <td>36000元</td>
                    <td>全付款<i class="fa fa-thumbs-up" aria-hidden="true"></i></td>
                    <td>
                        <a class="btn btn-danger edit" href="" aria-label="Settings">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                        &nbsp
                        <a class="btn btn-info edit" href="" aria-label="Settings">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
                <tr class="row-content">
                    <td class="check"><label><input type="checkbox" value=""></label></td>
                    <td><span class="label label-info"> Old </span></td>
                    <td>FS013</td>
                    <td>2017-4-25 12:27:34</td>
                    <td>审核</td>
                    <td>李四</td>
                    <td>上海市</td>
                    <td>25678元</td>
                    <td>无</td>
                    <td>
                        <a class="btn btn-danger edit" href="" aria-label="Settings">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                        &nbsp
                        <a class="btn btn-info edit" href="" aria-label="Settings">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
                <tr class="row-content">
                    <td class="check"><label><input type="checkbox" value=""></label></td>
                    <td><span class="label label-info"> Old </span></td>
                    <td>FS014</td>
                    <td>2016-2-30 6:2:45</td>
                    <td>已付定金</td>
                    <td>王五</td>
                    <td>广州市</td>
                    <td>324242元</td>
                    <td>无</td>
                    <td>
                        <a class="btn btn-danger edit" href="" aria-label="Settings">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                        &nbsp
                        <a class="btn btn-info edit" href="" aria-label="Settings">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
                <tr class="row-content">
                    <td class="check"><label><input type="checkbox" value=""></label></td>
                    <td><span class="label label-default"> New </span></td>
                    <td>FS015</td>
                    <td>2017-11-2 7:34:56</td>
                    <td>收款</td>
                    <td>贾六</td>
                    <td>荆州市</td>
                    <td>322000元</td>
                    <td>付款完成<i class="fa fa-heart" aria-hidden="true"></i></td>
                    <td>
                        <a class="btn btn-danger edit" href="" aria-label="Settings">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                        &nbsp
                        <a class="btn btn-info edit" href="" aria-label="Settings">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
                <tr class="row-content">
                    <td class="check"><label><input type="checkbox" value=""></label></td>
                    <td><span class="label label-info"> Old </span></td>
                    <td>FS016</td>
                    <td>2017-7-1 2:2:4</td>
                    <td>付定金</td>
                    <td>张七</td>
                    <td>深圳市</td>
                    <td>1231310元</td>
                    <td>无</td>
                    <td>
                        <a class="btn btn-danger edit" href="" aria-label="Settings">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                        &nbsp
                        <a class="btn btn-info edit" href="" aria-label="Settings">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
                <tr class="row-content">
                    <td class="check"><label><input type="checkbox" value=""></label></td>
                    <td><span class="label label-default"> New </span></td>
                    <td>FS017</td>
                    <td>2013-10-21 12:23:34</td>
                    <td>完成</td>
                    <td>小明</td>
                    <td>佛山市</td>
                    <td>3121300元</td>
                    <td>Very Happy.. <i class="fa fa-smile-o" aria-hidden="true"></i></td>
                    <td>
                        <a class="btn btn-danger edit" href="" aria-label="Settings">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                        &nbsp
                        <a class="btn btn-info edit" href="" aria-label="Settings">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
