<div class="content">
    <div class="hole_content">
        <div class="content_title" style="background-color: #D57D6D">
            <span class="echart-font">采购订单管理</span>
        </div>
        <div class="content_table">
            <table class="table" style="margin-top: 15px">
                <thead>
                <tr>
                    <th>采购单号</th>
                    <th>选/不选</th>
                    <th>供应商</th>
                    <th>销售单号</th>
                    <th>单据状态</th>
                    <th>付款条件</th>
                    <th>订单日期</th>
                    <th>备注</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>
                        <fieldset class="form-group">
                            <input type="checkbox" id="checkbox1">
                            <label for="checkbox1"></label>
                        </fieldset>
                    </td>
                    <th>张三</th>
                    <th>FS012</th>
                    <th>开立</th>
                    <th>在线支付</th>
                    <th>2017-4-23 4:23:45</th>
                    <th>无</th>
                    <td>
                        <i class="fa fa-pencil" style="color:green"></i>
                        <i class="fa fa-times" style="color: red"></i>
                    </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>
                        <fieldset class="form-group" id="checkbox2">
                            <input type="checkbox">
                            <label for="checkbox2"></label>
                        </fieldset>
                    </td>
                    <th>李四</th>
                    <th>FS013</th>
                    <th>付款</th>
                    <th>在线支付</th>
                    <th>2016-12-3 21:23:45</th>
                    <th>无</th>
                    <td>
                        <i class="fa fa-pencil" style="color:green"></i>
                        <i class="fa fa-times" style="color: red"></i>
                    </td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>
                        <fieldset class="form-group" id="checkbox3">
                            <input type="checkbox">
                            <label for="checkbox3"></label>
                        </fieldset>
                    </td>
                    <th>王五</th>
                    <th>FS014</th>
                    <th>付定金</th>
                    <th>在线支付</th>
                    <th>2017-2-12 4:43:45</th>
                    <th>无</th>
                    <td>
                        <i class="fa fa-pencil" style="color:green"></i>
                        <i class="fa fa-times" style="color: red"></i>
                    </td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>
                        <fieldset class="form-group" id="checkbox4">
                            <input type="checkbox">
                            <label for="checkbox4"></label>
                        </fieldset>
                    </td>
                    <th>贾六</th>
                    <th>FS015</th>
                    <th>完成</th>
                    <th>在线支付</th>
                    <th>2016-11-12 7:26:42</th>
                    <th>无</th>
                    <td>
                        <i class="fa fa-pencil" style="color:green"></i>
                        <i class="fa fa-times" style="color: red"></i>
                    </td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>
                        <fieldset class="form-group">
                            <input type="checkbox" id="checkbox5">
                            <label for="checkbox5"></label>
                        </fieldset>
                    </td>
                    <th>赵七</th>
                    <th>FS016</th>
                    <th>全款</th>
                    <th>在线支付</th>
                    <th>2017-3-12 6:33:32</th>
                    <th>无</th>
                    <td>
                        <i class="fa fa-pencil" style="color:green"></i>
                        <i class="fa fa-times" style="color: red"></i>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
