<div class="content">
    <div class="hole_content">
        <div class="content_title" style="background-color: #E8B769">
            <span class="echart-font">发货单单管理</span>
        </div>
        <div class="content_table">
            <form class="form-inline" style="margin-top: 10px;margin-left: 20px">
                <div class="form-group" style="margin-top: 10px;margin-left: 20px">
                    <input type="text" class="form-control" placeholder="请输入发货订单号" style="width: 300px"/>
                    <button type="button" class="btn btn-success" style="outline:none"><i class="fa fa-search"></i>
                        &nbsp; 查找
                    </button>
                </div>
            </form>
            <hr/>
            <table class="table table-hover">
                <thead>
                <tr style="font-size: 15px;color: #337AB7">
                    <th>发货单号</th>
                    <th>订单状态</th>
                    <th>发货地址</th>
                    <th>物流公司</th>
                    <th>物流单号</th>
                    <th>物流进度</th>
                    <th>发货日期</th>
                    <th>备注</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>D034026</th>
                    <th>已发货</th>
                    <th>广州市</th>
                    <th>顺丰快递</th>
                    <th>35463563534343</th>
                    <td style="width: 250px">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45"
                                 aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                                45%
                            </div>
                        </div>
                    </td>
                    <th>2016-12-3 21:23:45</th>
                    <th>无</th>
                </tr>
                <tr>
                    <th>D034027</th>
                    <th>已发货</th>
                    <th>深圳市</th>
                    <th>圆通快递</th>
                    <th>3546356353433123</th>
                    <td style="width: 250px">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-success active"
                                 role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                                 style="width: 60%">
                                60%
                            </div>
                        </div>
                    </td>
                    <th>2017-3-31 6:12:2</th>
                    <th>无</th>
                </tr>
                <tr>
                    <th>D034028</th>
                    <th>已发货</th>
                    <th>北京市</th>
                    <th>中通快递</th>
                    <th>35463563534</th>
                    <td style="width: 250px">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-warning active"
                                 role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"
                                 style="width: 30%">
                                30%
                            </div>
                        </div>
                    </td>
                    <th>2017-5-22 16:34:6</th>
                    <th>无</th>
                </tr>
                <tr>
                    <th>D034029</th>
                    <th>已发货</th>
                    <th>重庆市</th>
                    <th>国通快递</th>
                    <th>35463563534878/th>
                    <td style="width: 250px">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-danger active" role="progressbar"
                                 aria-valuenow="86" aria-valuemin="0" aria-valuemax="100" style="width: 86%">
                                86%
                            </div>
                        </div>
                    </td>
                    <th>2017-4-28 12:15:23</th>
                    <th>无</th>
                </tr>
                <tr>
                    <th>D034033</th>
                    <th>已发货</th>
                    <th>上海市</th>
                    <th>韵达快递</th>
                    <th>3546356353534</th>
                    <td style="width: 250px">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-info active" role="progressbar"
                                 aria-valuenow="67" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                67%
                            </div>
                        </div>
                    </td>
                    <th>2017-5-03 18:0:45</th>
                    <th>无</th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
