<div class="content">
    <div class="hole_content">
        <div class="content_title" style="background-color: #06C5AC">
            <span class="echart-font">客户档案信息</span>
        </div>
        <div class="content_table">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>客户编码</th>
                    <th>客户名称</th>
                    <th>联系地址</th>
                    <th>联系方式</th>
                    <th>财务账号</th>
                    <th>合同开始日期</th>
                    <th>合同结束日期</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in customerInfo track by $index">
                    <td ng-bind="item.id"></td>
                    <td ng-bind="item.customerName"></td>
                    <td ng-bind="item.address"></td>
                    <td ng-bind="item.phoneNumber"></td>
                    <td ng-bind="item.financialNumber"></td>
                    <td ng-bind="item.beginDate"></td>
                    <td ng-bind="item.endDate"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
