<div class="content">
    <div class="hole_content">
        <div class="content_title" style="background-color: #06C5AC">
            <span class="echart-font">存货档案</span>
        </div>
        <div class="content_table">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>存货编码</th>
                    <th>存货名称</th>
                    <th>存货分类编码</th>
                    <th>成本价</th>
                    <th>销售价</th>
                    <th>长</th>
                    <th>宽</th>
                    <th>高</th>
                    <th>颜色</th>
                    <th>供应商</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>凳子</td>
                    <td>1</td>
                    <td>7元</td>
                    <td>16元</td>
                    <td>20cm</td>
                    <td>5cm</td>
                    <td>3cm</td>
                    <td>白色</td>
                    <td>北京市朝阳区</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>书架</td>
                    <td>2</td>
                    <td>78元</td>
                    <td>130元</td>
                    <td>40cm</td>
                    <td>7cm</td>
                    <td>4cm</td>
                    <td>黑色</td>
                    <td>东莞市</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>柜子</td>
                    <td>3</td>
                    <td>145元</td>
                    <td>210元</td>
                    <td>60cm</td>
                    <td>50cm</td>
                    <td>90cm</td>
                    <td>灰色</td>
                    <td>广州市白云区</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>床</td>
                    <td>4</td>
                    <td>1300元</td>
                    <td>1900元</td>
                    <td>200cm</td>
                    <td>80cm</td>
                    <td>30cm</td>
                    <td>金色</td>
                    <td>上海市</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>电脑桌</td>
                    <td>5</td>
                    <td>300元</td>
                    <td>450元</td>
                    <td>150cm</td>
                    <td>60cm</td>
                    <td>90cm</td>
                    <td>白色</td>
                    <td>深圳市龙华区</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>鞋架</td>
                    <td>6</td>
                    <td>23元</td>
                    <td>45元</td>
                    <td>50cm</td>
                    <td>20cm</td>
                    <td>60cm</td>
                    <td>红色</td>
                    <td>广州市白云区</td>
                </tr>
                <tr>
                    <th scope="row">7</th>
                    <td>防盗门</td>
                    <td>7</td>
                    <td>1400元</td>
                    <td>2100元</td>
                    <td>20cm</td>
                    <td>60cm</td>
                    <td>300cm</td>
                    <td>黑色</td>
                    <td>荆州市荆州区</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
