<div class="content">
    <div style="width: 80%;height: 100%;margin-left:17%;">
        <div class="echart-title" style="background-color: #06C5AC">
            <span class="echart-font">客户档案信息</span>
        </div>
        <div class="echart-table">
            <!--<table class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
            </tr>
            </tbody>
        </table>-->
        </div>
    </div>

</div>
