<div class="content" id="login">
    <form>
        <ul class="ul-login">
            <li>登录</li>
            <p class="tips"></p>
            <li style="margin-left: 30px"><input type="text" name="userName" class="input-login-text"
                                                 placeholder="请输入用户名"></li>
            <li style="margin-left: 30px"><input type="password" name="passWord" class="input-login-text"
                                                 placeholder="请输入密码"></li>
            <li>
                <button type="submit" class="btn-submit" ng-click="userLogin()">
                    <span ng-show="isLogging"><i class="fa fa-circle-o-notch fa-spin"></i></span>
                    <span ng-hide="isLogging">立即登录</span>
                </button>
            </li>
        </ul>
    </form>
</div>
