<div class="content">
    <div style="width: 42%;height: 120%;margin-left:15%;float: left;" id="div1">
        <div class="echart-title" style="background-color: #06C5AC">
            <span class="echart-font">采购订单详情表</span>
        </div>
        <div class="echart-table" id="echart1"></div>
    </div>
    <div style="width: 42%;height: 120%;float: right; margin-left: 1%" id="div2">
        <div class="echart-title" style="background-color: #D27261">
            <span class="echart-font">销售订单详情表</span>
        </div>
        <div class="echart-table" id="echart2"></div>
    </div>
</div>
